/* Основные стили */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Шапка сайта */
header.hero {
  background: #0077cc;
  color: #fff;
  text-align: center;
  padding: 100px 20px; /* Увеличим отступы сверху и снизу */
}

header.hero h1 {
  font-size: 3rem; /* Уменьшим размер заголовка */
  font-weight: 700;
  margin-bottom: 20px; /* Уменьшим отступы */
}

header.hero .cta-button {
  background-color: #ff8800;
  color: white;
  padding: 20px 40px;
  font-size: 1.4rem; /* Уменьшаем размер текста */
  border-radius: 30px; /* Более округлая форма */
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

header.hero .cta-button:hover {
  background-color: #f45d02;
 
